/.idea
/PageObjectModelCsharp/obj
/PageObjectModelCsharp/bin
/PageObjectModelCsharp/.idea/.idea.PageObjectModelCsharp.dir/.idea/codeStyles/codeStyleConfig.xml
/PageObjectModelCsharp/.idea/.idea.PageObjectModelCsharp.dir/.idea/contentModel.xml
/PageObjectModelCsharp/.idea/.idea.PageObjectModelCsharp.dir/.idea/encodings.xml
/PageObjectModelCsharp/.idea/.idea.PageObjectModelCsharp.dir/.idea/indexLayout.xml
/PageObjectModelCsharp/.idea/.idea.PageObjectModelCsharp.dir/.idea/modules.xml
/PageObjectModelCsharp/.idea/.idea.PageObjectModelCsharp.dir/.idea/projectSettingsUpdater.xml
/PageObjectModelCsharp/.idea/.idea.PageObjectModelCsharp.dir/.idea/vcs.xml
/PageObjectModelCsharp/.idea/.idea.PageObjectModelCsharp.dir/.idea/workspace.xml
/PageObjectModelCsharp/.idea/.idea.PageObjectModelCsharp.dir/riderModule.iml
/PageObjectModelCsharp/Folder.DotSettings.user
